n8n_data/data/workflows.json
[{"createdAt":"2025-01-14T10:49:31.232Z","updatedAt":"2025-01-14T10:50:19.000Z","id":"9Dz5czowVEYquoTt","name":"Email Automation","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"fields","fields":["body","subject","conversationId","from"],"filters":{},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[-1080,420],"id":"4d8bd8d7-0bd6-4c57-ba0f-0c8da355801c","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"4utQ2pnE39m7lKYh","name":"Microsoft Outlook account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Hi My name is Vishal Pandey,\nI work in Lumiq as team lead, \nI work on blackrock project, my day to day activity is to coordinate with the team. Given the subject and body of the email, I want to provide me the relevancy rating between 1 to 5, 1 being the least important or relevent and 5 being the most important. please provide only single rating for an email.\n\nThere is one exception, if the tone of the email is excalation, where any client is complaining about the project or team, give it the an special rating of 7 this is most important email for me.\n\nBody of the email is in html format, so you need to take care of that.\n\nSubject : {{ $json.subject }}\nBody : {{ $json.body.content }}\n\n\nBelow is the conversationId and id of the email, I want these two also in the response please include these along with the rating.\n\nconversationId : {{ $json.conversationId }}\n\nid : {{ $json.id }}\n\nPlease provide the output in the format\n\ncoversationId : <put conversationId here> \nid : <put id in here>\n\nrelevancyRating : <provide rating in here>\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-580,380],"id":"0408c36c-fe6c-4470-be02-bccacb7dccae","name":"OpenAI","credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content.relevancyRating }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea73c176-f188-4ac9-99bf-b2ca83598925","leftValue":"={{ 0 }}","rightValue":3,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82159c98-f95f-46ee-985e-711453e9c5a6","leftValue":"={{ $json.message.content.relevancyRating }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-220,380],"id":"14d9f9f1-cec7-4326-8ba4-74c82e8c4353","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6331f501-2537-45be-9a63-5e3e929996c2","leftValue":"={{ $json.from.emailAddress.address }}","rightValue":"vishal.pandey@lumiq.ai","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-840,420],"id":"ee5f3e7c-65cb-4358-8ad2-b199a8421c01","name":"Email is not from my email"},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $json.message.content.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AAMkADAzY2Q3YjY3LTJhYTMtNGJkZC04OGUyLWVkMmEyOTBhNzJlZAAuAAAAAACKcw9lbVRrR4P-c1jNwFFnAQDxlGRbEDSmSa7fWk2Wbb2zAALDXn3aAAA=","mode":"list","cachedResultName":"excalation","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADAzY2Q3YjY3LTJhYTMtNGJkZC04OGUyLWVkMmEyOTBhNzJlZAAuAAAAAACKcw9lbVRrR4P%2Fc1jNwFFnAQDxlGRbEDSmSa7fWk2Wbb2zAALDXn3aAAA%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,200],"id":"a7761a7e-14fb-49b4-a2bd-8f52eb0dd93d","name":"Escalation","credentials":{"microsoftOutlookOAuth2Api":{"id":"4utQ2pnE39m7lKYh","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $json.message.content.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AAMkADAzY2Q3YjY3LTJhYTMtNGJkZC04OGUyLWVkMmEyOTBhNzJlZAAuAAAAAACKcw9lbVRrR4P-c1jNwFFnAQDxlGRbEDSmSa7fWk2Wbb2zAALDXn3WAAA=","mode":"list","cachedResultName":"ImportantMessages","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADAzY2Q3YjY3LTJhYTMtNGJkZC04OGUyLWVkMmEyOTBhNzJlZAAuAAAAAACKcw9lbVRrR4P%2Fc1jNwFFnAQDxlGRbEDSmSa7fWk2Wbb2zAALDXn3WAAA%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,380],"id":"d6c4f407-1947-42ec-baa4-2f8e38f062f2","name":"Important Email","credentials":{"microsoftOutlookOAuth2Api":{"id":"4utQ2pnE39m7lKYh","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $json.message.content.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AAMkADAzY2Q3YjY3LTJhYTMtNGJkZC04OGUyLWVkMmEyOTBhNzJlZAAuAAAAAACKcw9lbVRrR4P-c1jNwFFnAQDxlGRbEDSmSa7fWk2Wbb2zAALDXn3YAAA=","mode":"list","cachedResultName":"NotImportantMessage","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADAzY2Q3YjY3LTJhYTMtNGJkZC04OGUyLWVkMmEyOTBhNzJlZAAuAAAAAACKcw9lbVRrR4P%2Fc1jNwFFnAQDxlGRbEDSmSa7fWk2Wbb2zAALDXn3YAAA%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,560],"id":"2eb48131-3cce-4666-9c04-2bce9050e490","name":"Not Important Message","credentials":{"microsoftOutlookOAuth2Api":{"id":"4utQ2pnE39m7lKYh","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"reply","messageId":{"__rl":true,"value":"={{ $json.message.content.id }}","mode":"id"},"message":"Thank you for bringing it to my notice, I am looking into it, will get back to you on this shortly.\n\nThanks \nVishal Pandey","options":{"saveAsDraft":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,0],"id":"6ee5371e-a22b-441f-99f8-bf7c3cc6c47d","name":"Save the response as draft","credentials":{"microsoftOutlookOAuth2Api":{"id":"4utQ2pnE39m7lKYh","name":"Microsoft Outlook account"}}}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Email is not from my email","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Escalation","type":"main","index":0},{"node":"Save the response as draft","type":"main","index":0}],[{"node":"Important Email","type":"main","index":0}],[{"node":"Not Important Message","type":"main","index":0}]]},"Email is not from my email":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"80eaa430-6509-4ae6-be10-9d1dd86ad24c","triggerCount":0,"tags":[]},{"createdAt":"2025-01-14T10:50:44.846Z","updatedAt":"2025-01-19T12:24:41.000Z","id":"ggLSfgfUEzTox5eC","name":"the chat","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"f8b0a9b3-56d5-4a19-ab3c-28c80d30b5bd","name":"When chat message received","webhookId":"f2c7fc38-950e-42cc-948d-6de04b49a468"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,0],"id":"cfef3eb2-c3c6-4daf-a08a-ef0bbb39f24e","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[20,220],"id":"618a1774-3cba-4a4c-8177-ab23cf7722f9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[180,260],"id":"b4500dc2-f8a2-4fd6-adac-f514e1e53d6a","name":"Window Buffer Memory"},{"parameters":{"name":"pgvectortool","description":"Call this tool to get the information about the emails to answer questions"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[380,220],"id":"04f3c72a-5af2-4b98-945a-20debef5cd82","name":"Vector Store Tool"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[520,440],"id":"f7af16e4-ed68-4aad-b35a-e0bcaae67565","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[280,380],"id":"ac6c44e1-6182-42f5-a56a-a1c9a8fa98b1","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"emJ1oBQ5IXD7Pw5V","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[380,600],"id":"301e5438-f269-4dc4-816a-9100afd12886","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Postgres PGVector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d05af7f5-6742-4bc3-a11d-9c1b2fd0223c","triggerCount":1,"tags":[]},{"createdAt":"2025-01-18T05:22:58.437Z","updatedAt":"2025-01-19T13:18:10.000Z","id":"uqjbDkf5gZQvaSFq","name":"Email Processer","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"fields","fields":["body","toRecipients","ccRecipients","subject","internetMessageId","conversationId","from","bodyPreview","categories","createdDateTime","importance","isRead","lastModifiedDateTime","receivedDateTime","replyTo","sender","sentDateTime","webLink","bccRecipients"],"filters":{},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[-260,20],"id":"deb514f0-c4ef-4753-9939-8453724fbadd","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"4utQ2pnE39m7lKYh","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"message","mode":"list","cachedResultName":"message"},"limit":1,"where":{"values":[{"column":"conversation_id","value":"={{ $json.conversationId }}"}]},"sort":{"values":[{"column":"received_date_time","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-60,-220],"id":"83478a67-e43d-4d51-be3f-ba946a42d15b","name":"Postgres1","alwaysOutputData":true,"credentials":{"postgres":{"id":"emJ1oBQ5IXD7Pw5V","name":"Postgres account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[380,-220],"id":"fa4bc487-8a43-41c9-b9bb-5a9606e1187f","name":"Aggregate"},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"summarizationMethod":"stuff","prompt":"=I am giving you the summary of the previous conversation and the email received latest, please give the combined summary of the conversation.\n\nIt May Happen that there no prevous conversation in thread so the summary of the previous conversation may be empty.\n\nMake sure you include the key details like who sent the email when it was received who are the intend people it should respond to etc.\n\nPlease give the output simply without any extra text and annotation, also remove the part which is not necesarry like disclamers.\n\n\nPrevious Conversation Summary : {{ $json.data[0].toJsonString().replaceAll(\"{\", \"(\").replaceAll(\"}\", \")\") }}\n\nCurrent Email : \n\n{{ $json.data[1].toJsonString().replaceAll(\"{\", \"(\").replaceAll(\"}\", \")\") }}\n\nGive the summary without any annotation in plain text. And give the output as combined summary of the conversation.\n\nSummary : "}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[600,-220],"id":"1d6aefcb-67e5-4208-83a2-cdfbaff4bcf3","name":"Summarization Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[700,0],"id":"9111cab8-c8ff-40ac-9d33-c2c7eead960c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[980,120],"id":"5a88be17-0bf3-4d8c-bf49-1a8c1d4dd311","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1220,120],"id":"a3bee814-c92d-4761-b7bf-bf52c2550ae9","name":"Aggregate1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=My Name is Vishal Pandey I work in Lumiq as team lead,\n\nGiven the summary of the conversation till now, the API response of the outlook enail , please categorise the email in the following category\n\n1. important - any message in which is addressed to me specifically and is work related.\n2. not_important - all other message which are not relevant for me and my role.\n3. fyi - Email in which I am in the CC list and the information of the email si to just inform me\n4. escalation - Email from client or someone which is expecting resolution on urgent basis and raising some critical issue about the product or the team.\n\nPlease stick to the defined categories only.\n\n\nAlong with that please generate some tags that are relevant for this scenario, here you can use your intelegence and provide relevant tags.\n\nSummary : {{ $json.data[0].response.text }}\nAPI Response : {{ $json.data[1].toJsonString() }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1480,-100],"id":"11229531-1601-4b7c-9c88-59771ea608d6","name":"Categorise","executeOnce":true,"credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=My Name is Vishal Pandey and I work in Lumiq as Team Lead\n\nGiven the summary of the conversation till now, and the latest message in the  {{ $json.data[1].body.contentType }} format, please generate the response to the conversation.\n\nPlease make sure you only output the response to the conversation without any annotation as it will be directly sent to the user.\n\nConversation Summary :  {{ $json.data[0].response.text }}\n\nLatest Message : {{ $json.data[1].body.content }}\n\n\nReturn the response in the json format in the specific structure defined beloww\n\n\"response\": \n{\n\"subject\": <Subject of the email response>,\n\"body\": <body of the email response in plain text format>\n}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1480,160],"id":"f9346316-249d-4d06-a64b-9356bc02005c","name":"Create Draft","credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2000,400],"id":"db35510c-42e4-47d0-8180-b02d94e3d492","name":"Merge1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"message","mode":"list","cachedResultName":"message"},"columns":{"mappingMode":"defineBelow","value":{"is_read":"={{ $json.data[0].isRead }}","id":"={{ $json.data[0].id }}","created_date_time":"={{ $json.data[0].createdDateTime }}","categories":"={{ [$json.data[2].message.content.category] }}","received_date_time":"={{ $json.data[0].receivedDateTime }}","sent_date_time":"={{ $json.data[0].sentDateTime }}","internet_message_id":"={{ $json.data[0].internetMessageId }}","subject":"={{ $json.data[0].subject }}","body_preview":"={{ $json.data[0].bodyPreview }}","importance":"={{ $json.data[0].importance }}","conversation_id":"={{ $json.data[0].conversationId }}","web_link":"={{ $json.data[0].webLink }}","body_content_type":"={{ $json.data[0].body.contentType }}","body_content":"={{ $json.data[0].body.content }}","sender_name":"={{ $json.data[0].sender.emailAddress.name }}","sender_email":"={{ $json.data[0].sender.emailAddress.address }}","from_name":"={{ $json.data[0].from.emailAddress.name }}","from_email":"={{ $json.data[0].from.emailAddress.address }}","to_recipients":"={{ $json.data[0].toRecipients }}","cc_recipients":"={{ $json.data[0].ccRecipients }}","bcc_recipients":"={{ $json.data[0].bccRecipients }}","reply_to":"={{ $json.data[0].replyTo }}","summary":"={{ $json.data[1].response.text.replaceAll(\"CONCISE SUMMARY:\", \"\") }}","tags":"={{ $json.data[2].message.content.tags }}","draft":"={{ $json.data[3].message.content.response.body }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_date_time","displayName":"created_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"last_modified_date_time","displayName":"last_modified_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"categories","displayName":"categories","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"received_date_time","displayName":"received_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sent_date_time","displayName":"sent_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"has_attachments","displayName":"has_attachments","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"internet_message_id","displayName":"internet_message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"body_preview","displayName":"body_preview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_read","displayName":"is_read","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"web_link","displayName":"web_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"inference_classification","displayName":"inference_classification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"body_content_type","displayName":"body_content_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"body_content","displayName":"body_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sender_name","displayName":"sender_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sender_email","displayName":"sender_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"from_name","displayName":"from_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"from_email","displayName":"from_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"to_recipients","displayName":"to_recipients","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"cc_recipients","displayName":"cc_recipients","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"bcc_recipients","displayName":"bcc_recipients","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"reply_to","displayName":"reply_to","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"draft","displayName":"draft","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2500,440],"id":"7c9224ce-2744-4858-9891-2f2610a6dd50","name":"Postgres","credentials":{"postgres":{"id":"emJ1oBQ5IXD7Pw5V","name":"Postgres account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2260,480],"id":"18059273-d50a-40cf-ba0b-4ad88625cb21","name":"Aggregate2"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[2460,780],"id":"40e8ea0b-c595-4928-849c-db3b6ca32e2f","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"emJ1oBQ5IXD7Pw5V","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2600,1000],"id":"92bb4a27-f17d-4870-a502-ba2c708eeb22","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2700,1220],"id":"78e75162-e806-4b7c-b90f-fa7a25f74e70","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2460,1020],"id":"bee3b4da-cefa-4b09-b6ba-88bcff536cf1","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"wkUTMF6yndJdP6LD","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[200,-220],"id":"51d66308-6483-4765-90d7-b94bcf48dc45","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"ce94e8ca-d578-4ad7-8919-2dbc90b2a1c9","name":"createdDateTime","value":"={{ $json.data[0].createdDateTime }}","type":"string"},{"id":"30b79f98-f3de-4aef-8184-555921cc13e7","name":"subject","value":"={{ $json.data[0].subject }}","type":"string"},{"id":"5f764856-2a5c-49b7-bca3-f0c66d4685e0","name":"sender","value":"={{ $json.data[0].sender }}","type":"object"},{"id":"aefc5b53-762f-4c87-a865-e8724daf6203","name":"tags","value":"={{ $json.data[2].message.content.tags }}","type":"array"},{"id":"8745e8d6-8cb8-4be4-8845-9ee22f471ecb","name":"category","value":"={{ $json.data[2].message.content.category }}","type":"string"},{"id":"321d5f9a-64d7-40d3-968d-ca45c2fce3a7","name":"Summary","value":"={{ $json.data[1].response.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2860,620],"id":"23dd136b-9d3e-40aa-bc13-e52ba10a38f2","name":"Edit Fields"}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Postgres1","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Postgres1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Create Draft","type":"main","index":0},{"node":"Categorise","type":"main","index":0}]]},"Create Draft":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Categorise":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Merge1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Postgres","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Merge2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3e7aee16-d77e-4ab1-bfc2-4552570970ca","triggerCount":0,"tags":[]}]